a {
    cursor: pointer;
}

.list-group-item:nth-child(even) {
    background-color: lightgrey;
    border-color: white;
}

.my-navbar {
    margin-bottom: 20px;
    background-color: lightblue;

    text-align: right;
    padding: 5px;
}

.my-navbar div > * {
    margin: 10px;
}

#todo-input {
    width: 89%;
}

#todo-container {
    margin-bottom: 10px; 
}

#todo-list li {
    overflow: overlay;

    padding: 15px;
    /*border: 1px solid lightgrey;*/
    margin-bottom: 4px;
}

#todo-list li span {
    vertical-align: sub;
}

#todo-list li button {
    float: right;
}

#todo-add  button {
    float: right;
}